<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/echarts.js' %}"></script>
    <script src="{% static 'js/theme/dark_theme.js' %}"></script>
  </head>
  <body style="">
    <div id="main" style="width: 600px;height:400px;"></div>
    <div id="main2" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
  // 基于准备好的dom，初始化echarts实例
      var div1 = echarts.init(document.getElementById('main'), 'better_dark');
      var div2 = echarts.init(document.getElementById('main2'), 'better_dark');

      // 指定图表的配置项和数据
      var chart_1 = {
        title: {
          text: 'ECharts 入门示例 1'
        },
        tooltip: {},
        legend: {
          data: ['销量']
        },
        xAxis: {
          data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
        },
        yAxis: {},
        series: [
          {
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      div1.setOption(chart_1);
    </script>
    <script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例

    // 指定图表的配置项和数据
    var chart_2 = {
    title: {
      text: 'ECharts 入门示例 2'
    },
    tooltip: {},
    legend: {
      data: ['销量']
    },
    xAxis: {
      data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
    },
    yAxis: {},
    series: [
      {
        name: '销量',
        type: 'bar',
        data: [5, 20, 36, 10, 10, 20]
      }
    ]
    };

    // 使用刚指定的配置项和数据显示图表。
    div2.setOption(chart_2);
  </script>


  </body>
</html>
