{% extends "base.html" %}
{% load static %}
<!-- title defined in base.html -->
{% block title %}
Data Visualization
{% endblock title %}

<!-- contents -->
{% block content %}
<!-- css for the page (sometimes runserver is not response to the updates in static file for some reason) -->
<style>
</style>

<!--------------------------------------------------- page --------------------------------------------------->


<!--------------------------------------------------- charts --------------------------------------------------->


{% endblock content %}