{% extends "base.html" %}
{% load static %}
<!-- title defined in base.html -->
{% block title %}
Data Visualization
{% endblock title %}

<!-- contents -->
{% block content %}
<!-- css for the page (sometimes runserver is not response to the updates in static file for some reason) -->
<style>
    body {
        background-color: #808080;
    }

    div #top_ten_bar {
        display: block;
        width: auto;
        height: 400px;
        margin: 10px;
    }

    div #top_ten_line {
        display: block;
        width: 100%;
        height: 400px;
        margin: 10px;
    }

    div #sector_compare_pie {
        width: 100%;
        height: 400px;
        margin: 10px;
    }
</style>

<!--------------------------------------------------- page --------------------------------------------------->
<!-- div for top 5 stock chart-->
<div class="row mt-2">
    <div class="col-md-5" id="top_ten_bar"></div>

    <div class="col-md-6" id="top_ten_line"></div>
</div>

<div class="row mt-2">
    <div class="col-md-5" id="sector_compare_pie">

    </div>

    <div class="col-md-6" id=""></div>
</div>
<!--------------------------------------------------- charts --------------------------------------------------->

<!----------------------------------------------- top ten bar chart -------------------------------------------->
<script type="text/javascript">
    var barChartDom = document.getElementById('top_ten_bar')
    var topBarChart = echarts.init(barChartDom, 'better_dark');

    // get data from the backend
    var comp_symbol = {{ comp_symbol | safe }};
    var sales = {{ sales | safe }};
    var compName = {{ compName | safe }};

    // resize not working for some reason
    window.onresize = function () {
        topBarChart.resize();
    };

    // set options fo the chart
    var barChartOption = {
        title: {
            text: "Top 10 Companies by Sales in 2021",
            textStyle: {
                fontSize: "24"
            }
        },
        tooltip: {
            show: true,
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            },
        },
        legend: {
            data: [""]
        },
        grid: {
        },
        xAxis: {
            type: 'value',
            
            axisLabel: {
                formatter: function (value, index) {
                    var val = Math.abs(value)
                    var oneBillion = 1000000000;
                    if (val >= oneBillion) {
                        val = '$ ' + (val / oneBillion).toFixed(0) + 'B'
                    }
                    return val;
                }
            },
            boundaryGap: [0, 0.01]
        },
        yAxis: {
            containLabel: true,
            data: comp_symbol.reverse(),
            type: "category",
            axisLabel: {
            }
        },
        series: [
            {
                name: "sales",
                type: 'bar',
                data: sales.reverse()
            },
        ]
    };
    topBarChart.setOption(barChartOption);
</script>


<!----------------------------------------------- top ten line chart -------------------------------------------->
<script type="text/javascript">
    var lineChartDom = document.getElementById('top_ten_line');
    var topLineChart = echarts.init(lineChartDom, 'better_dark');
    var topLineOption;

    var lineChartData = {{ lineChartData | safe}}

    setTimeout(function () {
        topLineOption = {
            title: {
                text: "Top 10 Companies Stock Price",
                textStyle: {
                fontSize: "24"
            }
            },
            legend: {
                bottom: "bottom"
            },
            tooltip: {
                trigger: 'axis',
                showContent: true
            },
            dataset: {
                source: lineChartData
            },
            xAxis: { type: 'category' },
            yAxis: { 
                gridIndex: 0,
                scale: true
            },
            series: [
                {
                    type: 'line',
                    seriesLayoutBy: 'row'
                },
                {
                    type: 'line',
                    seriesLayoutBy: 'row'
                },
                {
                    type: 'line',
                    seriesLayoutBy: 'row'
                },
                {
                    type: 'line',
                    seriesLayoutBy: 'row'
                },
                {
                    type: 'line',
                    seriesLayoutBy: 'row'
                },
                {
                    type: 'line',
                    seriesLayoutBy: 'row'
                },
                {
                    type: 'line',
                    seriesLayoutBy: 'row'
                },
                {
                    type: 'line',
                    seriesLayoutBy: 'row'
                },
                {
                    type: 'line',
                    seriesLayoutBy: 'row'
                },
                {
                    type: 'line',
                    seriesLayoutBy: 'row'
                },
            ]
        };
        topLineChart.setOption(topLineOption);
    });

    topLineOption && topLineChart.setOption(topLineOption);
</script>

<!------------------------------------------------ sector pie chart --------------------------------------------->
<script type="text/javascript">
    var sectorPieChartDom = document.getElementById('sector_compare_pie');
    var sectorPieChart = echarts.init(sectorPieChartDom, 'better_dark');
    var sectorPieOption;

    var sector_total_list = {{ sector_total_list | safe }}

    sectorPieOption = {
        title: {
            text: 'Top 10 Sectors by Total Sales',
            textStyle: {
                fontSize: "24"
            }
        },
        tooltip: {
            trigger: 'item'
        },
        legend: {
            orient: 'horizontal',
            bottom: '0px',
        },
        series: [
            {
                name: 'Access From',
                type: 'pie',
                radius: '50%',
                data: sector_total_list,
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

    sectorPieOption && sectorPieChart.setOption(sectorPieOption);
</script>


{% endblock content %}