{% extends "base.html" %}
{% load static %}
<!-- title defined in base.html -->
{% block title %}
Data Visualization
{% endblock title %}

<!-- contents -->
{% block content %}
<!-- CDN import bootstrap4 toggle  -->
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<!-- css for the page (sometimes runserver is not response to the updates in static file for some reason) -->
<style>
  body {
    background-color: #808080;
  }

  #count_map_text {
    width: 1100px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 40px;
    margin-bottom: -5px;
    background-color: white;
  }

  #count_map_switch{
    width: 200px;
    margin-top: 5px;
    margin-bottom: -5px;
    background-color: white;
  }

  #sales_map_text {
    width: 1100px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 40px;
    margin-bottom: -5px;
    background-color: white;
  }

  #sales_map_switch{
    width: 200px;
    margin-top: 5px;
    margin-bottom: -5px;
    background-color: white;
  }

  .col-auto{
    text-align: center;
    padding: 5px;
  }

  #world_map_count {
    width: 1300px;
    height: 600px;
    padding-top: 5px;
    margin-left: 40px;
    margin-top: -5px;
    background-color: white;
  }


  #world_map_sales {
    width: 1300px;
    height: 600px;
    padding-top: 5px;
    margin-left: 40px;
    margin-top: -5px;
    background-color: white;
  }
  /* for bootstrap toggle */
  .toggle_1  .toggle-group { transition: left 0.2s; -webkit-transition: left 0.2s; }
</style>

<!--------------------------------------------------- page --------------------------------------------------->
<div class="container-fluid" id = "first_map">
  <div class="row">
    <div class="col-auto justify-content-center align-items-center rounded-left d-inline-flex p-2" id="count_map_text">
      <h4 id="count_map_text_h4">Company Distribution on World Map by Numbers</h4>
    </div>
    <div class="col-auto rounded-right" id="count_map_switch">
      <input type="checkbox" checked data-toggle="toggle" data-on="Switch to Bar Chart" data-off="Switch to World Map" data-onstyle="success" data-offstyle="primary" data-style="toggle_1">
    </div>
  </div>
  <div class="row">
    <div class="col-auto rounded" id="world_map_count"></div>
  </div>
</div>

<div class="container-fluid" id = "second_map">
  <div class="row">
    <div class="col-auto justify-content-center align-items-center rounded-left d-inline-flex p-2" id="sales_map_text">
      <h4 id="sales_map_text_h4">Total sales in Each Country</h4>
    </div>
    <div class="col-auto rounded-right" id="sales_map_switch">
      <input type="checkbox" checked data-toggle="toggle" data-on="Switch to Bar Chart" data-off="Switch to World Map" data-onstyle="success" data-offstyle="primary" data-style="toggle_1">
    </div>
  </div>
  <div class="row">
    <div class="col-auto rounded" id="world_map_sales"></div>
  </div>
</div>


<!--------------------------------------------------- charts --------------------------------------------------->
<script>  //world map with stock count in each country
  var ROOT_PATH = 'https://fastly.jsdelivr.net/gh/apache/echarts-website@asf-site/examples';

  var countMapDom = document.getElementById('world_map_count');
  var countMap = echarts.init(countMapDom, 'better_dark');
  var countMapOption;

  var MAX_VAL_COUNT = 4500;
  var MIN_VAL_COUNT = 0;

  var count_list = {{ count_list | safe }};
  var country_count = {{ country_count | safe }}
  var comp_count = {{ comp_count | safe }}

  countMap.showLoading();
  $.get("{% static 'json/world.json' %}", function (worldJson) {
    countMap.hideLoading();
    echarts.registerMap('world_count', worldJson, {
    });
    var data = count_list;
    data.sort(function (a, b) {
      return a.value - b.value;
    });
    const mapOption = {
      visualMap: {
        left: 'right',
        min: MIN_VAL_COUNT,
        max: MAX_VAL_COUNT,
        inRange: {
          // prettier-ignore
          color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
        },
        textStyle: {
          color: "rgba(255, 255, 255, 255)"
        },
        text: ['High', 'Low'],
        calculable: true
      },
      series: [
        {
          id: 'count',
          type: 'map',
          roam: true,
          map: 'world_count',
          animationDurationUpdate: 1000,
          universalTransition: true,
          data: data
        }
      ]
    };
    const barOption = {
      grid: {
        containLabel: true
      },
      tooltip: {
        show: true,
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        },
      },
      xAxis: {
        type: 'value'
      },
      yAxis: {
        type: 'category',
        axisLabel: {
          interval: 0,
        },
        data: country_count.reverse(),
      },
      animationDurationUpdate: 1000,
      series: {
        type: 'bar',
        id: 'count',
        data: comp_count.reverse(),
        universalTransition: true
      }
    };
    let currentOption = mapOption;
    countMap.setOption(mapOption);
    $("#count_map_switch").click(function () {
      currentOption = currentOption === mapOption ? barOption : mapOption;
      currentOption === barOption ? document.getElementById("count_map_text_h4").innerHTML = "Top 20 Countries by Numbers of Companies" : document.getElementById("count_map_text_h4").innerHTML = "Company Distribution on World Map by Numbers";
      countMap.setOption(currentOption, true);
    });
  });

  countMapOption && countMap.setOption(countMapOption);

</script>

<!--------------------------------------------------- charts --------------------------------------------------->
<script>  //world map with stock count in each country
  var ROOT_PATH = 'https://fastly.jsdelivr.net/gh/apache/echarts-website@asf-site/examples';

  var salesMapDom = document.getElementById('world_map_sales');
  var salesMap = echarts.init(salesMapDom, 'better_dark');
  var salesMapOption;

  var sales_list = {{ sales_list | safe}};
  var country_sales = {{ country_sales | safe }}
  var comp_sales = {{ comp_sales | safe }}

  var MAX_VAL = 1000000000000;
  var MIN_VAL = 1000000;

  salesMap.showLoading();
  $.get("{% static 'json/world.json' %}", function (worldJson) {
    salesMap.hideLoading();
    echarts.registerMap('world_sales', worldJson, {
    });
    var data = sales_list;
    data.sort(function (a, b) {
      return a.value - b.value;
    });
    const mapOption = {
      visualMap: {
        left: 'right',
        min: MIN_VAL,
        max: MAX_VAL,
        inRange: {
          // prettier-ignore
          color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
        },
        textStyle: {
          color: "rgba(255, 255, 255, 255)"
        },
        text: ['High', 'Low'],
        calculable: true
      },
      series: [
        {
          id: 'sales',
          type: 'map',
          roam: true,
          map: 'world_sales',
          animationDurationUpdate: 1000,
          universalTransition: true,
          data: data
        }
      ]
    };
    const barOption = {
      grid: {
        containLabel: true
      },
      tooltip: {
        show: true,
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        },
      },
      xAxis: {
        type: 'value'
      },
      yAxis: {
        type: 'category',
        axisLabel: {
          interval: 0,
        },
        data: country_sales.reverse()
      },
      animationDurationUpdate: 1000,
      series: {
        type: 'bar',
        id: 'sales',
        data: comp_sales.reverse(),
        universalTransition: true
      }
    };
    let currentOption = mapOption;
    salesMap.setOption(mapOption);
    $("#sales_map_switch").click(function () {
      currentOption = currentOption === mapOption ? barOption : mapOption;
      currentOption === barOption ? document.getElementById("sales_map_text_h4").innerHTML = "Top 20 Countries by Total Sales" : document.getElementById("sales_map_text_h4").innerHTML = "Total sales in Each Country";
      salesMap.setOption(currentOption, true);
    });
  });

  salesMapOption && salesMap.setOption(salesMapOption);

</script>

{% endblock content %}